.list-group-item {
    border: none;
    padding-left: 0 !important
}

.btn-carous {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: #c2c2c2 !important;
}
.btn-carous.active {
    background-color: red !important;
    border: 2px solid #c2c2c2;
}
.height-contant {
    height: 360px !important;
}

.carousel-item img {
    height: 360px;
}


@media (max-width: 800px){
    .home-image {
        padding-left: 0 !important;
    }
}