.colors {
    width: 15px;
    height: 15px;
    display: block;
    margin-right: 10px;
    border-radius: 50%;
}

.sizeing {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
}

.sizeing.active {
    color: #ffffff;
    background: #DB4444;
}
