.speaker {
    height: 400px;
}

.icons {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    border: 10px solid #cacaca;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.arrow-up {
    width: 50px;
    height: 50px;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
}

.action {
    opacity: 1;
}

@media (max-width: 600px){
    .speaker {
        margin-top: 20px;
    }
}